.heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.heading:hover {
                                        
    color: azure;
}

.body {
    background-image: url('../images/BG_IMG.jpg');
    background-size: cover;
}

#container
{
    width: 100%;
    justify-content: center;
    display: flex;
}

.drop-box {
    width: 15%;
    height: 100px;
    border: 2px dashed #aaa;
    margin: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 183, 226);
}

.playbutton {
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 
.head {
    color: white;
}


.drop-box:hover {
    color: red;
}